<a href="https://colab.research.google.com/github/Aaron-Thomas-Blessen/Python_ML/blob/main/Python_programming_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>## PROGRAM TO FIND THE LARGEST NUMBER
- **Step1** ENTER THE VALUE
- **Step2** CHECKTHE LARGEST NUMBER USING `if-elif-else`
- **Step3** PRINT THE LARGEST NUMBER

In [ ]:
"""
# Python program to find the largest number among the three input numbers
"""
num1 = 40
num2 = 24
num3 = 32
#uncomment following lines to take three numbers from user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3
print("The largest number is", largest)

>## MULTIPLICATION TABLE
- **STEP1**   ENTER THE NUMBER
- **STEP2**   PRINT THE TABLES USING `for-loop`

In [ ]:
# To take input from the user
num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(i, 'x', num, '=', num*i)

>## SIGN OF A NUMBER
- **STEP1** ENTER THE NUMBER
- **STEP2** CHECK ITS SIGN USING `if-elif-else`
- **STEP3** PRINT THE SIGN

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

>## REPLACE WORD
- **STEP1** ENTER THE STRING
- **STEP2** ENTER THE WORD YOU WANT TO REPLACE
- **STEP3** ENTER THE WORD YOU WANT TO REPLACE IT WITH
- **STEP4** REPLACE THE WORD USING `replace()` IN `PYTHON` 
- `str.replace(old,new)`

In [1]:
string=input("Enter the string")
word=input("enter the word you wanna replace")
word_rep=input("enter the word you wanna replace it with")
new_str=string.replace(word,word_rep)
print(new_str)

Enter the stringexcuse me my bag is in my bag and bag of things
enter the word you wanna replacebag
enter the word you wanna replace it withchad
excuse me my chad is in my chad and chad of things

>## REMOVE WORD
- **STEP1** ENTER THE STRING
- **STEP2** ENTER THE WORD YOU WANT TO REMOVE
- **STEP3** REPLACE THE WORD USING `replace()` IN `PYTHON` 
- `str.replace(word,"")`

In [3]:
string=input("Enter the string")
word=input("enter the word you wanna remove")
new_str=string.replace(word,"")
print(new_str)

Enter the stringmy my dead dead
enter the word you wanna removedead
my my

>## CHECK ATLEAST ONE OCCURANCE OF A WORD IN A STRING
- **STEP1** INPUT THE LIST AND THE STRING
- **STEP2** CONVERT LIST TO SET USING `set(list)`
- **STEP3** SPLIT THE STRING TO ATTRIBUTES IN LIST USING `string.split()`
- **STEP4** CHECK IF THERE IS AN INTERSECTION OF THE TWO USING `set.intersection(set/list)`
- **STEP5** IF THERE IS INTERSECTION PRINT "FOUND"

In [4]:
# program to check atleat one occurance of keywords

keyword_list = ['motorcycle', 'bike', 'bicycle', 'dirtbike', "long"]
all_text = 'The bicycle is bicycle a new one without shocking the entire community'
SET=set(keyword_list)
LIST=all_text.split()
if SET.intersection(LIST):
     print("Found One")

Found One

>## DISPLAY EVEN AND ODD MEMBERS IN A TUPLE
- **STEP1** ENTER THE TUPLE
- **STEP2** FIND THE EVEN AND ODD MEMBERS OF THE TUPLE USING `slice []` METHOD
- **STEP3** PRINT THE VALUES

In [ ]:
"""
Python Program:
 Using slice [] operator to iterate over a specific parts of a tuple to print odd and even members
"""
even=[];odd=[]
tuple_created = ("p", "r", "o", "g", "r", "a", "m", "i", "z")
for char in tuple_created[ :  : 2]:
   even.append(char)
for char in tuple_created[1 :  : 2]:
   odd.append(char)
print("Even members: ",even,"\nOdd members: ",odd)